{
  "presets": [
    ["env",
    {
      "targets": {
        "browsers": "last 2 versions, > 1%, ie >= 11",
        "node": "8.0"
      },
      "modules": false,
      "loose": false
    }],
    "stage-2"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": false,
      "moduleName": "babel-runtime"
    }]
  ]
}
