node_modules
*.map
tests
test
__tests__
__test__
.github
.env*
jest.config.js
.eslintrc.js
.eslintignore
.prettierignore
prettier.config.js
release.config.js
commitlint.config.js
.editorconfig
lerna.json
tsconfig.tsbuildinfo
tsconfig.json
tsconfig.base.json
.rpt2_cache
.vscode
/demo
/doc
/scripts
tslint.json
yarn-error.log
.babelrc
yarn.lock
